body{
    background-color:rgb(199, 186, 168);
}
nav{
    background-color: antiquewhite;
    width:85vw;
    height:10vh;
    margin:0 auto;
    border-radius:30px;
}
nav button{
    width:20%;
    height:55%;
    margin:0 auto;
    padding-left:20px;
}
#oculto{
    background-color: antiquewhite;
    border:none;
}
main{
    width:85vw;
    height:80vh;
    background-color: antiquewhite;
    margin:0 auto;
    margin-top:20px;
    border-radius:30px;
}
main h3{
    text-align:center;
    padding-top:30px;
}
#lista{
    width:80%;
    height:35%;
    margin:0 auto;
    font-size: large;
}
main table{
    width:80%;
    margin:0 auto;
    border:2px solid black;
    border-collapse: collapse;
    text-align: center;
}
main table th{
    border:2px solid black;
    padding:10px;
}
main table td{
    border:2px solid black;
    padding:10px;
}
form{
    width:80%;
    height:35%;
    margin:0 auto;
    text-align:center;
    font-size:larger;
    padding:25px;
    box-sizing: border-box;
    border-radius: 5px;
}
