body{
    background-color: rgb(230, 219, 205);
    margin:0 auto; /*para centrar la pagina en cualuier navegador y resolucion */
}
nav {
    background-color: antiquewhite;
    width:80vw; /*se adapta al ancho de la ventana */
    height:10vh; /*se adapta al alto de la ventana */
    margin:0 auto;
    padding-top:20px; /*deja espacio encima de los botones */
    padding-left:10%;
    border-radius:30px; /* redondea los bordes del nav */
}
nav button{
    width:20%; /* ancho de los botones */
    height:50%; /* alto de los botones */
    
}
#oculto{ 
	/*oculta un boton para dejar espacio entre el inicio y el botn de catastrofes */
    background-color: antiquewhite;  /*lo dejo del mismo color que el fondo para que no se vea */
    border:0;
}
main{
    width:90vw; </*que coja el 90% del ancho de la ventana*/
    height: 85vh;
    margin-top:10px; /*dejar margen arriba */
    margin-left:70px;
    background-color: antiquewhite;
    border-radius:30px;
}
#index{
    float:left;
    width:60vw;
    height: 82vh;
    margin-top:10px;
    margin-left:70px;
    background-color: antiquewhite;
    border-radius:30px;
}
main h3{
    padding-left: 20px;
}
main section{
    font-weight:bolder; /*para poner negrita en los titulos */
    font-size:25px;
    padding-top:10px;
    padding-left:20px;
}
main article{
    font-size:16px;
    padding-left:20px;
    text-align:justify; /*justificar el texto */
    padding-right:20px;
}
aside{
    float:right;
    width:28vw;
    height:82vh;
    margin-top:10px;
    margin-right:65px;
    background-color: antiquewhite;
    border-radius:30px;
}
aside img{
    height:30%;
    padding-top: 50px;
    padding-left:30px;
}
aside figcaption{
    text-align: center; /*centrar el texto justo debajo de las imagenes */
}
#desastres{
    font-weight:bolder;
    font-style: italic;
}
#lista{
    width:80%;
    height:35%;
    margin:0 auto;
    font-size: large;
}
main table{
    width:80%;
    margin:0 auto;
    border:2px solid black;
    border-collapse: collapse;
    text-align: center;
}
main table th{
    border:2px solid black;
    padding:10px;
}
main table th:nth-of-type(odd){ 
	/*los pares de un color*/
    background-color:black;
    color:white;
}
main table th:nth-of-type(even){ 
	/*los impares de otro color */
    background-color: white;
    color:black;
}
main table td{
    border:2px solid black;
    padding:10px;
}
form{
    width:90vw;
    height:35%;
    margin:0 auto;
    text-align:center;
    font-size:larger;
    padding:25px;
    box-sizing: border-box;
    border-radius: 5px;
}
